.featured-services-part7 {
    margin-top: -1390px;
}

.specificSoftware-images {
    width: 73.5px;
    height: auto;
    margin-bottom: 15px;
}

.down-specifics {
    display: flex;
}

.specificSoftware-div {
    width: 285px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}