.featured-services {
    margin-top: -1320px;
}

.top {
    text-align: center;
}

.h2 {
    font-size: 30px;
    font-family: var(--poppins);
    width: 516px;
    margin: 0 auto;
    color: #0a0114;
    padding-bottom: 11px;
}

.img-styling {
    width: 106px;
    height: auto;
    margin-bottom: 15px;
}

.h6-sass-products {
    color: #010101;
    padding-bottom: 10px;
}

.sass-product-div {
    width: 570px;
    height: 318.36px;
    padding: 20px;
    box-sizing: border-box;
}

.sass-p {
    text-align: justify;
    width: 530px;
}

.featured-services-down {
    width: 1150px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}

.orange-project-two {
    margin-top: 50px;
    background: linear-gradient(to bottom right, #ff3834,#ff7133);
    height: 259px;
    padding: 72px 0px 72px 0px;
}
